name: released

on:
  release:
    types: [published]

jobs:
  virustotal:
    runs-on: ubuntu-latest
    steps:
      -
        name: VirusTotal Monitor Scan
        uses: crazy-max/ghaction-virustotal@master
        with:
          vt_api_key: ${{ secrets.VT_MONITOR_API_KEY }}
          vt_monitor: true
          monitor_path: /${{ github.event.repository.name }}/${{ github.event.release.tag_name }}
          update_release_body: false
          github_token: ${{ secrets.GITHUB_TOKEN }}
          files: |
            ${{ github.event.repository.name }}-win32.exe
            ${{ github.event.repository.name }}-win64.exe
      -
        name: VirusTotal Scan
        uses: crazy-max/ghaction-virustotal@v2
        with:
          vt_api_key: ${{ secrets.VT_API_KEY }}
          update_release_body: true
          github_token: ${{ secrets.GITHUB_TOKEN }}
          files: |
            ${{ github.event.repository.name }}-win32.exe
            ${{ github.event.repository.name }}-win64.exe
